.about {
	display: grid;
	place-items: center;
	min-height: 100vh;
	padding: 1rem;
	background: linear-gradient(to bottom right, #7117ea, #ea6060);

	& > h2 {
		position: absolute;
		top: 15%;
		font-size: 3rem;
		color: #fefefe;
	}

	p {
		max-width: 60ch;
	}
}
