.score {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 10rem;

	.X,
	.O {
		display: flex;
		align-items: center;
		transform: scale(0.65);

		span {
			font-size: 2rem;
			color: #fefefe;

			&:first-of-type {
				margin-right: 1rem;
			}
		}
	}

	.X {
		span {
			&:first-of-type {
				margin-left: 2rem;
			}
		}
	}
}
